body{
    margin: 0px;
    padding: 0px;
    width: 10wh;
    // height: 100vh;
    box-sizing: border-box;
    & main{
        width: 800px;
        // height: 100%;
        // border: 1px solid black;
        margin: auto;
    }
}